<% provide(:title, 'Help') %>

<h1>Help</h1>
<p>
  Get help on the Ruby on Rails Tutorial at the
  <a href="http://railstutorial.org">Rails tutorial help page</a>
  To get help on the sample app, see
  <a href="http://railstutorial.org/book">http://railstutorial.org/book</a>
</p>
